*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.backgroundWrapper{
    width: 100%;
    height: 100vh;
    /*background-position:center;*/
    background-size: cover;
    background-repeat: no-repeat;
}
.navBar{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
    padding-left: 8%;
    padding-right: 8%;
}
.navBar ul{
    width: 80%;
}
.navBar ul li{
    list-style: none;
    display:inline-block;
    width: 12%;

}
.navBar ul li a{
    text-decoration: none;
    color: black;
    font-size: 15px;
}
.logo{
    width: 15%;
}
.signupButton{
    width: 10%;
    background-color: green;
    border: none;
    border-radius: 6px;
    height: 37px;
    color: white;
}
.loginButton{
    width: 10%;
    margin-right: 3%;
    color: green;
    border: 1px solid;
    border-radius: 6px;
    height: 37px;
}

.backgroundImage img{
    position: absolute;
    width: 500px;
    padding-left: 5%;
    padding-top: 5%;
}

.backgroundContent {
    margin-top: 9%;
    margin-left: 40%;
    width:65%;
}
.backgroundContent h2{
    font-size: 50px;
    line-height: 50px;
    padding-bottom: 3%;
}
.backgroundContent p{
    font-size: 15px;
    padding-bottom: 1%;
}
.searchButton{
    width: 38%;
    height: 37px;
}
.searcher{
    width: 10%;
    background-color: green;
    color: white;
    height: 37px;
    border: none;
}

/*content*/
.content{
    width: 10%;
}
/*this is the signUp page styles*/
.split{
    width: 50%;
    height: 100%;
    overflow: hidden;
    padding:20px;
    position: absolute;
    top: 0;
    z-index: 1;
}
.content{
    width: 100%;
    padding-top: 8%;
}
.phoneScreen{
    text-align: center;
    padding-bottom: 16%;
}
.phoneScreen h2{
    font-size: 26px;
    font-family:sans-serif;
}
.phoneScreen p{
    font-size: 16px;
}
.ourCoreValue{
    width: 75%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin:auto;
    height: 20%;
}
.subCore{
    display: inline-block;
    text-align: center;
    align-items: center;
    border: 2px solid;
    padding: 60px 70px;
    margin-right:  19px;
    border-radius: 13px;
    background-color: green;
    color: white;
}
.subCore h2{
    text-align: center;
    font-size: 23px;
    padding-bottom:13%;
    font-family: "Segoe UI Semibold", serif;
}
.subCore p{
    /*width: 30px%;*/
    padding-bottom: 12%;
    text-align: center;
    font-size: 12px;
}
.subCore .sub-btn{
    border: 2px solid;
    border-radius: 5px;
    width: 45%;
    height: 15%;
    background-color: green;
    color: white;
    transition: 2s;
}
.subCore .sub-btn:hover{
    background-color: white;
    color: green;
}
/*Features*/
.features{
    width: 70%;
    /*display: flex;*/
    align-items: center;
    padding: 10%;
    margin-right: 20px;
    display: flex;
   }