*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.backgroundWrapper{
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
}
.navBar{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
    padding-left: 8%;
    padding-right: 8%;
}
.navBar ul{
    width: 80%;
}
.navBar ul li{
    list-style: none;
    display:inline-block;
    width: 12%;

}
.navBar ul li a{
    text-decoration: none;
    color: black;
    font-size: 15px;
}
.logo{
    width: 15%;
}
.signupButton{
    width: 10%;
    background-color: green;
    border: none;
    border-radius: 6px;
    height: 37px;
    color: white;
    text-decoration: none;
}
.loginButton{
    width: 10%;
    margin-right: 3%;
    color: green;
    border: 1px solid green;
    border-radius: 6px;
    height: 37px;
    text-decoration: none;
}
.backgroundImage img{
    position: absolute;
    width: 500px;
    padding-left: 5%;
    padding-top: 5%;
}

.backgroundContent {
    margin-top: 9%;
    margin-left: 40%;
    width:65%;
}
.backgroundContent h2{
    font-size: 50px;
    line-height: 50px;
    padding-bottom: 3%;
}
.backgroundContent p{
    font-size: 15px;
    padding-bottom: 1%;
}
.searchButton{
    width: 38%;
    height: 37px;
}
.searcher{
    width: 10%;
    background-color: green;
    color: white;
    height: 37px;
    border: none;
}

/*content*/
.content{
    width: 10%;
}

.content{
    width: 100%;
    padding-top: 8%;
}
.phoneScreen{
    text-align: center;
    padding-bottom: 16%;
}
.phoneScreen h2{
    font-size: 26px;
    font-family:sans-serif;
}
.phoneScreen p{
    font-size: 16px;
}
.ourCoreValue{
    width: 75%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin:auto;
    height: 20%;
}
.subCore{
    display: inline-block;
    text-align: center;
    align-items: center;
    border: 2px solid;
    padding: 60px 70px;
    margin-right:  19px;
    border-radius: 13px;
    background-color: green;
    color: white;
}
.subCore h2{
    text-align: center;
    font-size: 23px;
    padding-bottom:13%;
    font-family: "Segoe UI Semibold", serif;
}
.subCore p{
    padding-bottom: 12%;
    text-align: center;
    font-size: 12px;
}
.subCore .sub-btn{
    border: 2px solid;
    border-radius: 5px;
    width: 45%;
    height: 15%;
    background-color: green;
    color: white;
    transition: 2s;
}
.subCore .sub-btn:hover{
    background-color: white;
    color: green;
}
/*Features*/
.features{
    width: 100%;
    display: flex;
    position: absolute;
    height: 670px;
    margin-bottom: 10%;
    margin-left: 9.5%;
    align-items: center;
}
.featuresContent{
    padding-top: 5%;
}
.featuresContent h3{
    padding-bottom: 3%;
    color: green;
    font-size: 18px;
}
.featuresContent h1{

    font-size: 45px;
}
.featuresContent p{
    font-size: 13px;
    padding-bottom: 7%;
}
.featuresPhoneImage img{
    width: 670px;
    margin-right: 12%;
}

.innerContent{
    display: flex;
    border: 1px transparent;
    width: 100%;
    background-color: black;
    color: white;
    border-radius: 10px;
    padding-left: 10%;
    padding-top: 10%;
}
.innerContent ul{
    width: 50%;
}
.innerContent ul li{
    display: block;
    width: 100%;
    height: 20%;
    list-style: none;
}
.innerContent ul li a{
    text-decoration: none;
    font-size: 13px;
    color: green;
    font-weight: bolder;
    font-family: Cambria, sans-serif;
}
.innerContent p{
    font-size: 10px;
}


/*Login Page*/

.split {
    height: 100%;
    width: 70%;
    position: fixed;
    z-index: 1;
    top: 0;
    overflow-x: hidden;
    padding-top: 20px;
}
.left {
    left: 0;
    background-color: white;
}
.right {
    right: 0;
    background-color: black;
    background-image: url("images/bvnghg.png");
    background-repeat: no-repeat;

}
.centered {
    position: absolute;
    top: 42%;
    left: 20%;
    transform: translate(-50%, -50%);
    text-align: left;
}
.centered h1{
    font-family: Cambria, sans-serif;
    padding-bottom: 20%;
    font-size: 27px;
}
.centered p{
    font-size: 13px;
    padding-bottom: 5%;
}
.centered input{
    width: 100%;
    height: 35px;
    border-radius: 9px;
    padding-bottom: 4%;
    color: gray;
    pading-right:10px;
    border: none;
    background-color: #dad6d6;
}
.signInButton{
    border: none;
    background-color: black;
    color: white;
    width: 100%;
    height: 40px;
    border-radius: 15px;
}


/*Sign Up User Page*/


.accountType{
    position: absolute;
    top: 46%;
    left: 18%;
    text-align: left;
    transform: translate(-50%, -50%);
}
.accountType h1{
    padding-bottom: 10%;
    font-family: Cambria, fantasy;

}
.accountType h2{
    color: #252323;
    padding-bottom: 15%;
}
.accountType input{
    width: 100%;
    height: 35px;
    border-radius: 9px;
    padding-bottom: 4%;
    color: gray;
    pading-right:10px;
    border: none;
    background-color: #dad6d6;
    padding-top: 4%;
}
.accountType h4{
    color: #838080;
    padding-bottom: 15%;
}
.accountSignupButton{
    border: none;
    background-color: black;
    color: white;
    width: 100%;
    height: 40px;
    border-radius: 15px;
    transition: 1s;
}
.accountSignupButton:hover{
    background-color: green;
    color: white;
}
